body {
    align-items: center;
    background-color: #ff0078;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
  }
  
h1 {
    color: #fbff00;
}

h2 {
    font-size: 100px;
}

p {
    color: #000000;
}