body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background: linear-gradient(45deg, rgb(174, 0, 255) 0%,#e0e0e0 100%);
}

h1 {
    color: #ff0000;
}

p {
    color: #666;
}
